@import "../valo/valo";

.mytheme {
  @include valo;

  .v-ui {
    background: lightgoldenrodyellow;
  }
  .v-button {
    background: chocolate;
  }

  .v-menubar-menuitem {

  }
  .v-menubar-menuitem:hover {
    background: chartreuse;
  }
}

